<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.voicechanger.app.effects">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>

        <package android:name="com.facebook.katana" />

        <intent>
            <action android:name="com.applovin.am.intent.action.APPHUB_SERVICE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>

        <package android:name="com.android.vending" />
        <package android:name="com.amazon.venezia" />
        <package android:name="com.sec.android.app.samsungapps" />
        <package android:name="com.huawei.appmarket" />

        <intent>
            <action android:name="android.media.browse.MediaBrowserService" />
        </intent>
        <intent>
            <action android:name="com.android.vending.billing.InAppBillingService.BIND" />
        </intent>
    </queries>

    <application
        android:name="com.voicechanger.app.effects.MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Funny Effects"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="false"
        android:theme="@style/Theme.TestVoiceJava"
        android:usesCleartextTraffic="true"
        tools:replace="android:supportsRtl">
        <activity
            android:name="com.voicechanger.app.effects.activity.PrivacyActivity"
            android:exported="false" />
        <activity
            android:name="com.voicechanger.app.effects.activity.PermissionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <service
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.voicechanger.app.effects.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <activity
            android:name="com.voicechanger.app.effects.activity.SplashActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.voicechanger.app.effects.activity.LangActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.voicechanger.app.effects.activity.MainActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.voicechanger.app.effects.activity.TxtToAudioActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.voicechanger.app.effects.activity.RecordingActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.voicechanger.app.effects.activity.MusicPlayerActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.voicechanger.app.effects.activity.SaveActivity"
            android:exported="true" />
        <activity
            android:name="com.voicechanger.app.effects.activity.OpenFileActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.voicechanger.app.effects.activity.CreationActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.voicechanger.app.effects.activity.ChangeEffectActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing" />

        <service
            android:name="com.voicechanger.app.effects.recordingServices.ServiceRecordingVoice"
            android:exported="true"
            android:stopWithTask="true" />

        <meta-data
            android:name="com.android.vending.splits.required"
            android:value="true" />
        <meta-data
            android:name="com.android.stamp.source"
            android:value="https://play.google.com/store" />
        <meta-data
            android:name="com.android.stamp.type"
            android:value="STAMP_TYPE_DISTRIBUTION_APK" />
        <meta-data
            android:name="com.android.vending.derived.apk.id"
            android:value="4" />

    </application>

</manifest>